body{
    margin: 0;
    padding: 0;
}

.first-part{
    background-image: url(images/donation5.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.first-part h1{
    color: white;
    padding-top: 200px;   
}
.first-part p{
    color: white;
}

.first-part a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 70px;
    border-radius: 5px;
}
.second-part h1{
    text-align: center;
    color: black;
    padding-top: 100px;
}
.second-part p{
    text-align: center;
    color: black;
}

.box-part{
    display:flex;
    text-align: center;

}

.box-common{
    height: 60px;
    width: 130px;
    margin: 50px auto;
    background: rgba(174, 203, 237, 0.233);
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
}

#box-color{
    color: red;
    background-color: rgba(229, 160, 160, 0.532);
}

.other-amount-part{
    text-align: center;


}


.second-part a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 70px;
    border-radius: 5px;
    margin-left: 50%;
    
}

footer{
    background-color: black;
    height: 130px;
    text-align: center;
}

footer p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.654);
}
.footer-humble{
    color: orangered;
}
.third-part h1{
    color: black;
    text-align: center;
    padding-top: 100px;
}
.third-part p{
    color: black;
    text-align: center;
}

.third-part-box{
    display: flex;
    justify-content:space-evenly;
    padding: 4%;

}
.thirt-part-box-part{

    padding: 30px 15px;
    margin: 5px;
    width: 33%;
    

}
#color-1{
    background-color: aqua;
}

#color-2{
    background-color: khaki;
}
#color-3{
    background-color:lightblue ;
}

