body{
    margin: 0;
    padding: 0;
}

.first-part{
    background-image: url(images/donation5.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.first-part h1{
    color: white;
    text-align: center;
    padding-top: 200px;

    
}
.first-part p{
    color: white;
    text-align: center;
}

.first-part a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 70px;
    border-radius: 5px;
    margin-left: 50%;
    

}
.second-part h1{
    text-align: center;
    color: black;
    padding-top: 100px;
}
.second-part p{
    text-align: center;
    color: black;
}

.box-part{
    display:flex;
}

.box-1 {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

    min-height: 30px;
    width: 15vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
}

.box-2 {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    
    min-height: 30px;
    width: 15vw;
    margin: 100px auto;
    background: rgba(221, 89, 32, 0.464);
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
    color: red;
}

.box-3 {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    
    min-height: 30px;
    width: 15vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
}

.box-4 {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    
    min-height: 30px;
    width: 15vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
}

.box-5 {
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
    
    min-height: 30px;
    width: 15vw;
    margin: 100px auto;
    background: white;
    border-radius: 5px;
    text-align: center;
    padding-top: 40px;
    font-size: 40px;
}
.second-part a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 70px;
    border-radius: 5px;
    margin-left: 50%;
    
}

footer{
    background-color: black;
    height: 130px;
    text-align: center;
}

footer p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.654);
}
.footer-humble{
    color: orangered;
}