body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.first-part{
    background-image: url(images/donation5.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

.first-part h1{
    color: white;
    padding-top: 200px;   
}
.first-part p{
    color: white;
}

.first-part a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 70px;
    border-radius: 5px;
}
.second-part{
    text-align:center;
}
.second-part h1{
    text-align: center;
    color: black;
    padding-top: 100px;
}
.second-part p{
    text-align: center;
    color: black;
}

.box-part{
    display:flex;
    justify-content: center;

}

.box-common{
    height: 60px;
    width: 130px;
    margin: 10px;
    background: rgba(174, 203, 237, 0.233);
    border-radius: 5px;
    text-align: center;
    font-size: 40px;
    padding: 10px 20px;
}

#box-color{
    color: red;
    background-color: rgba(229, 160, 160, 0.532);
}
.input-amount{
    text-align: center;
}

.other-amount-part{
   text-align: center;
   width: 50%;
   padding: 1%;
   border-top: none;
   border-left: none;
   border-right: none;

}


.second-part a{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 70px;
    border-radius: 5px;
    margin-left: 50%;
    
}


footer{
    background-color: black;
    height: 130px;
    text-align: center;
}

footer p{
    font-size: 13px;
    color: rgba(255, 255, 255, 0.654);
}
.footer-humble{
    color: orangered;
}
.third-part h1{
    color: black;
    text-align: center;
    padding-top: 100px;
}
.third-part p{
    color: black;
    text-align: center;
}

.third-part-box{
    display: flex;
    justify-content:space-evenly;
    padding: 4%;

}
.thirt-part-box-part{

    padding: 30px 15px;
    margin: 5px;
    width: 33%;
    

}
#color-1{
    background-color: aqua;
}

#color-2{
    background-color: khaki;
}
#color-3{
    background-color:lightblue ;
}

.fourth-part{
    text-align: center;

}
.update-background{
    
    background-color: rgba(240, 131, 131, 0.316);
    width: 50%;
    margin: 0 auto;
    padding: 5%;
}
.donate-btn{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 70px;
    border-radius: 5px;
    margin-top: 20px;
    border: none;
    
}
.extra-part{
    display: flex;
    padding: 20px 40px;
    justify-content: space-evenly;
    height: 100%;
    align-items: center;
    margin-left: 80px;
}

.extra-part-img img{
    width: 95%;
}

.extra-part-div-an{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    color: white;
    padding: 10px 40px;
    font-weight: 70px;
    border-radius: 5px;
    
}
.subs-btn{
    background-color: red;
    border: none;
}